html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 500;
  background-color: bisque;
}

.catalogoContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buscadorContainer {
  height: 20vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.buscador {
  width: 28rem;
  padding: 0.8rem;
  border: 2px solid black;
  border-radius: 2rem;
}

.tableContainer {
  width: 68vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.tableContainer::-webkit-scrollbar {
  display: none;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.styled-table td, .styled-table th {
  width: 20%;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  display: flex;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vinylImage {
  width: 7rem;
  height: 7rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.7rem;
}

.visibleImg, .invisibleImg {
  width: 2.3rem;
  height: 2.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(15, 15, 15);
  background-size: 70%;
  border-radius: 2rem;
}

.visibleImg {
  background-image: url("../img/visible.png");
}

.invisibleImg {
  background-image: url("../img/invisible.png");
}

.addVinylContainer {
  height: 20vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}

.addDiscContainer{
  display: flex;
  justify-content: center;
}

.addDisc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
  border: solid 3px rgb(63, 42, 25);
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  z-index: 2;
  color: rgb(15, 15, 15); 
}

.addDisc.rotated {
  color: bisque; 
}

.addDisc:hover {
  background-color: rgb(63, 42, 25);
  color: bisque;
}

.formContainer {
  position: fixed;
  bottom: -100%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(63, 42, 25);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1;
  transition: bottom 0.5s ease;
}

.formContainer.visible {
  bottom: 0;
}

.addVinyl {
  width: 38vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1.9rem;
  color:rgb(238, 238, 238);
  font-family: "Poppins";
  font-size: 19px;
  opacity: 0;
  z-index: 2;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.addVinyl.visible {
  opacity: 1;
}

.addVinyl label {
  font-weight: 700;
}

.addVinyl input, select, button {
  padding: 0.68rem;
  font-family: "Poppins";
  border: none;
  border-radius: 2rem;
  outline: none;
}

.addVinyl button {
  width: 6rem;
  border: 2px solid bisque;
  background-color: transparent;
  color: bisque;
  font-size: 19px;
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.addVinyl button:hover{
  color: black; 
  background-color: bisque;
  cursor: pointer;
}
