html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Prata", "Serif";
  background-color: bisque;
  overflow-x: hidden;
}

/* Header */
.headerContainer {
  height: 10vh;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  width: 7%;
  display: flex;
  justify-content: center;
}

.logo img {
  height: 80%;
}

.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(63, 42, 25);
  font-weight: bold;
  font-family: "Noto Serif Malayalam", serif;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s;
}

nav a:hover {
  color: bisque;
  background-color: rgb(63, 42, 25);
  border-radius: 5rem;
}

/* Home */
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  height: 2px;
  width: 80%;
  background-color: black;
}

/* Main Section */
.main {
  height: 90vh;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.disc {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc .caratula {
  position: absolute;
  z-index: 2;
}

.disc .vinilo {
  position: absolute;
  z-index: 1;
  transition: transform 1.2s ease;
}

.disc .caratula:hover + .vinilo {
  transform: translateX(225px) rotate(720deg);
}

.text {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disco {
  font-size: 28px;
}

h1 {
  font-size: 59px;
}

.descripcion {
  width: 50%;
}

.precio {
  height: 9%;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  color: bisque;
  background-color: rgb(63, 42, 25);
  border-radius: 10rem;
  margin: 25px;
}

/* Story Section */
.story {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.storyText {
  height: 75vh;
  width: 100%;
  color: white;
  background-image: url("./img/fondoHistoria.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyText h2 {
  height: 15%;
  font-size: 28px;
  text-align: center;
}

.storyText p {
  width: 42%;
  font-size: 21px;
  text-align: center;
}

.songName h2 {
  height: 15%;
  font-size: 28px;
  text-align: center;
  margin-bottom: 55px;
}

.line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line2 {
  height: 2px;
  width: 80%;
  background-color: black;
  margin-bottom: 70px;
  margin-top: 50px;
}

/* Video Section */
.video-container {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding-top: 33.75%;
  margin-bottom: 50px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* GIF Section */
.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.gif-container img {
  width: 20%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 50px;
}

/* Footer */
.footer-container {
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333333;
  color: #cccccc;
}

.contact-info,
.politics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.politics ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.politics a {
  color: #cccccc;
  text-decoration: none;
}

.politics a:hover {
  text-decoration: underline;
}

.author-rights {
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: #232323;
  justify-content: center;
  color: #cccccc;
  text-align: center;
}

/* Newsletter */
.newsletter {
  margin-top: 1.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #cccccc;
}

.newsletter h2 {
  font-size: 18px;
  color: #cccccc;
  margin-bottom: 10px;
}

.newsletter input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  background-color: #333333;
  color: #cccccc;
  margin-bottom: 10px;
}

.newsletter input::placeholder {
  color: #888888;
}

.newsletter input:focus {
  outline: none;
  border-color: bisque;
}

.newsletter button {
  display: flex;
  height: 35px;
  width: 110px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: bisque;
  background-color: rgb(63, 42, 25);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter button:hover {
  background-color: rgb(92, 62, 40);
}

.botonDesplegable {
  padding: 0.6rem 0.83rem;
  border: solid 3px rgb(63, 42, 25);
  border-radius: 25rem;
  background-color: transparent;
  color: black;
  font-size: 17px;
  font-family: "Prata", "Serif";
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.botonDesplegable:hover {
  background-color: rgb(63, 42, 25);
  color: white;
}

.menuDesplegable {
  height: 90%;
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 10%;
  right: -21%;
  background-color: rgb(63, 42, 25);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: right 0.5s ease;
  z-index: 10;
}

.menuDesplegable a {
  display: flex;
  justify-content: center;
  width: 33%;
  padding: 0.6rem 0.83rem;
  color: bisque;
  text-decoration: none;
  font-family: "Prata", "Serif";
  margin-left: 2rem;
  border: solid 2px bisque;
  border-radius: 10rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.menuDesplegable a:hover {
  color: black;
  background-color: bisque;
}

.accordion {
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: "Prata", "Serif";
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.accordion-toggle {
  display: flex;
  justify-content: center;
  width: 33%;
  padding: 0.6rem 0.83rem;
  color: bisque;
  text-decoration: none;
  font-family: "Prata", "Serif";
  border: solid 2px bisque;
  border-radius: 10rem;
  background-color: rgb(63, 42, 25);
  transition: background-color 0.5s ease, color 0.5s ease;
}
.accordion-toggle:hover {
  color: black;
  background-color: bisque;
}
.accordion-content {
  display: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: bisque;
  font-family: "Prata", "Serif";
  text-align: justify;
  padding: 0.5rem 1rem;
  background-color: rgb(63, 42, 25);
  border: 1px solid bisque;
  border-radius: 0.5rem;
}

.textoFluido {
  height: 3.5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #333333;
  margin: 2rem 0;
  overflow: hidden;
  position: relative;
}

.textMarkee {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  animation: textMovement 23s linear infinite;
}

.textMarkee p {
  margin: 1rem;
}

@keyframes textMovement {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
