body {
    margin: 0 auto;
    font-family:'Prata', 'Serif'; 
    background-color:bisque;
}

h2, p{
    margin: 0 auto;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    height: 2px;
    width: 80%;
    background-color: black;
}

.main {
    height: 90vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.disc {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc .caratula {
    position: absolute;
    z-index: 2; 
}

.disc .vinilo {
    position: absolute;
    z-index: 1; 
    transition: transform 1.2s ease; 
}

.disc .caratula:hover + .vinilo {
    transform: translateX(225px)rotate(720deg);
}

.text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disco{
    font-size: 28px;
}

h1{
    font-size: 59px;
}

.descripcion{
    width: 50%;
}

.precio{
    height: 9%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    color: bisque;
    background-color: rgb(63, 42, 25);
    border-radius: 10rem;
    margin: 25px;
}

.story {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.storyText {
    height: 75vh;
    width: 100%;
    color: white;
    background-image: url("/img/Patrón.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.storyText h2 {
    height: 15%;
    font-size: 28px;
    text-align: center; 
}

.storyText p {
    width: 42%;
    font-size: 21px;
    text-align: center;
}