/* General */
body {
  font-family: "Prata", "Serif";
  background-color: bisque;
  margin: 0;
  padding: 0;
}

/* Products Section */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.product-details {
  width: 600px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-details:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image-container {
  width: 40%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container .vinil-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.text-container {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.info-container p {
  font-size: 16px;
  margin: 5px 0;
  color: rgb(63, 42, 25);
 
}

.info-container p span {
  font-weight: normal;
  color: rgb(92, 62, 40);
}
